/*Set HTML5 the display of semantic elements to block for backward
compatibility with HTML4*/
article, section, aside, hgroup, nav, header,
footer, figure, figcaption {
  display: block;
}

/*Set the max width of the following elements to 100% of their parent's 
width to prevent overflowing the parent's boundaries*/
img, embed, object, video {
	max-width: 100%;
}

/*Set width measurement to include the padding width
and border width*/
* {
	box-sizing: border-box;
	max-width: 1500px;
	font-size:3vw;
}


/*****************************************************/

html, body {
	height: 100%;
	margin:auto;
	/*max-width: 1500px;*/
}

header, .toggle-menu {
	width: 100%;
 	position: absolute;
}

h1 {
	font-size: 6vw;
}

h2 {
	font-size: 5vw;
}

h3 {
	font-size: 4vw;
}

h4 {
	font-size: 3vw;
}

/* Set z-index so that .toggle-menu is hiden
behind header */
header {
	z-index: 1;
}

.toggle-menu {
	z-index: 0;
}

/*Fix header to top of the viewport*/
.header-container {
	display: fixed;
	top:0;
}

/*
*
* Header 
*
*/

/*** Header Logo ***/

header {
	height: 100px;
	background-color: #c5eff7;
}

.header-logo, .toggle-button {
	display: inline-block;
}

.header-logo {
	padding-left: 1em;
}

}
.header-logo p {
	text-align: right;
}

.header-logo p:nth-child(1) {
	margin-top:0.5em;
	margin-bottom: 0;
	font-size:27px;
}

.header-logo p:nth-child(2) {
	margin-top:0.2em;
	font-size:13px;
}


/*** Header Navbar ***/
/*Hide non-toggleable nav bar for screen size <= 701px*/
header nav {
	display: none;
}

header nav {
	float:right;
	vertical-align: center;
	height: 100%;
}

header nav ul {
	display:table;
	width: 90%;
	height: 100%;
	padding:0;
	margin:0;
	float:right;
}

header nav ul li {
	display: table-cell;
	vertical-align: middle;
}


header nav a {
	text-decoration: none;
	color:black;
	font-size:2vw;
}

header nav a:hover {
	text-decoration: underline;
}

/* Format toggle-button/hamburger icon */
.toggle-button {
	float:right;
	margin-top:1.5em;
	padding-right:1em;
	cursor: pointer;
}

.bar-1, .bar-2, .bar-3 {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    transition: 0.4s;
}

/*Hamburger icon transforms into cancel icon on click*/

/*Rotate and transform the first bar*/
.change-button .bar-1 {
	-webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

/*Fade out the second bar*/
.change-button .bar-2 {
	opacity: 0;
}

/*Rotate and transform the the third bar*/
.change-button .bar-3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}


/*
*
*Toogleable Menu
*
*/ 

.toggle-menu {
	width: 100%;
	height:190px;
	background-color: #D91E18;
	-webkit-transform: translate(0,-180px);
	transform:translate(0,-180px);
	transition: transform 0.5s ease;
}

.toggle-menu ul {
	margin:0;
	padding-top:10px;
} 

.toggle-menu li {
	display: block;
	padding: 10px;
}

.toggle-menu ul li a {
	text-decoration: none;
	color:black;
	font-size:17px;
}

.toggle-menu ul li a:active {
	text-decoration: underline;
}

.pull-menu-out {
	-webkit-transform: translate(0,100px);
	transform:translate(0,100px);
}

/*
*
* Responsive Design 
*
*/

/*When viewport width is more than or equal to 701,
use non-toggleable nav bar instead of toggleable menu*/

@media screen and (min-width:701px) {
	header {
		display: flex;
	}

	header nav {
		display: inline-block;
		width: 75%;
	}

	.header-logo {
		width:35%;
		padding-left: 3%;
	}

	.header-logo p:nth-child(1) {
		font-size:30px;
	}

	.header-logo p:nth-child(2) {
		font-size:15px;
	}


	header nav ul {
		width: 100%;
	}

	.header-logo {
		width: 35%;
	}

	.toggle-button {
		display: none;
	}

	.toggle-menu {
		display: none;
	}

}

@media screen and (min-width: 1001px) {
	.header-logo p:nth-child(1) {
		font-size:33px;
	}

	.header-logo p:nth-child(2) {
		font-size:18px;
	}

	header nav {
		font-size:;
	} 
}

/*
*
* Jumbotron
*
*/

.jumbotron {
	position:relative;
	top:100px;
	z-index:-1; /* Under dropdown menu */
	width: 100%;
	height: 271px;
	background: url('../images/jumbotron-375.jpg') no-repeat center;
}

@media screen and (min-width:376px) {
	.jumbotron {
		height: 236px;
		background: url('../images/jumbotron-420.jpg') no-repeat center;
	}
}

@media screen and (min-width:421px) {
	.jumbotron {
		height: 366px;
		background: url('../images/jumbotron-650.jpg') no-repeat center;
	}
}

@media screen and (min-width:651px) {
	.jumbotron {
		height: 451px;
		background: url('../images/jumbotron-800.jpg') no-repeat center;
	}
}

@media screen and (min-width:801px) {
	.jumbotron {
		height: 507px;
		background: url('../images/jumbotron-900.jpg') no-repeat center;
	}
}

@media screen and (min-width:901px) {
	.jumbotron {
		height: 592px;
		background: url('../images/jumbotron-1050.jpg') no-repeat center;
	}
}

@media screen and (min-width:1051px) {
	.jumbotron {
		height: 676px;
		background: url('../images/jumbotron-1200.jpg') no-repeat center;
	}
}

@media screen and (min-width:1201px) {
	.jumbotron {
		height: 760px;
		background: url('../images/jumbotron-1350.jpg') no-repeat center;
	}
}

@media screen and (min-width:1351px) {
	.jumbotron {
		height: 844px;
		background: url('../images/jumbotron-1500.jpg') no-repeat center;
	}
}


/*
*
* Main
*
*/

main section {
	position: relative;
	top:100px;
	padding: 0 15% 0 15%;
}

main section h1 {
	text-align: center; 
}

/***Featured Work***/

.featured-work {
	display: flex;
	flex-wrap: wrap;
}

.project-box {
	width: 95%;
	height: 95%;
	/*border: 1px solid black;*/
	margin: auto;
	padding-bottom:10%;
}

/* Project picture */
.project-picture {
	display: block;
	width:100%;
	margin:auto;
	border: 1px solid grey;
}

.project-box p {
	text-align: center;
}

.project-box p:nth-child(2) {
	font-size:4vw;
	margin:10px 0 17px 0;
}

.project-box p:nth-child(3) {
	margin:0;
	padding-bottom:10px;
}

.project-box a{
	display: block;
	text-align: center;
}

/* View github repo button */
.view-github-repo {
	width: 50px;
}

@media screen and (min-width: 426px) {
	/*Display 2 project-boxes on one row*/
	.project-box {
		width: 47.5%;
		height: 47.5%;
	}

	.view-github-repo {
	width: 60px;
}
}

@media screen and (min-width: 769px) {
	/*Display 2 project-boxes on one row*/
	.project-box {
		width: 26%;
		height: 26%;
	}

	.project-box p:nth-child(2) {
		font-size:2.75vw;
	}

	.project-box p:nth-child(3) {
		font-size:2vw;
	}

}

